<form action='/users' method='POST'>
  <input type='email' name='user[email]' placeholder='Enter Email'>
  <input type='password' name='user[password]' placeholder='Enter Password'>
  <input type='submit' value='Register'>
</form>
